body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.selectedAnswer {
    margin: 5px;
    padding: 10px;
    background-color: gray;
    border: 1px;
    border-radius: 5px;
}

.notSelectedAnswer {
    margin: 5px;
    padding: 10px;
    background-color: lightgray;
    border: 1px;
    border-radius: 5px;
}

.incorrectAnswer {
    margin: 5px;
    padding: 10px;
    background-color: lightgray;
    border: 1px;
    border-radius: 5px;
}

.answerTextCorrect {
    color: darkgreen;
}

.answerTextIncorrect {
    color: red;
}

.answerTextUnknown {
    color: black;
}

.answerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.notSelectedAnswer {
    color: black;
}

button {
    font-size: 16px;
    padding: 3px;
    margin: 3px;
}
